{% extends 'base.html' %}
{% block content %}



    <br>

    <form class="container"
          style="width:100%; background:white; padding:25px; border-radius: 15px; box-shadow: 1px 2px 3px gray;">
        <input type="date" name="fir" id="fir" class="form-item m-2">dan-
        <input type="date" name="sec" id="sec" class="form-item m-2">gacha
        <button type="sumbit" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Filter</button>
        <a href="?fir=week&sec=week" type="button" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Hafta</a>
        <a href="?fir=month&sec=month" type="button" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Oy</a>
    </form>
    <div class="h2 m-0 p-0 text-primary font-weight-bold">{{ food.title }}</div>
    <div class="row">
        <table class="table table-hover col-12 col-lg-5">
            <tr>
                <td class="bg-primary text-white" style=" border-radius: 10px 0 0 0">Sana</td>
                <td class="bg-primary text-white">Nechta</td>
                <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">Savdo</td>
            </tr>
            {% for date in dates %}
                <tr>
                    <td>{{ date.date }}</td>
                    <td>{{ date.total_sold }}</td>
                    <td>{{ date.sale_amount }} so`m</td>
                </tr>
            {% endfor %}

        </table>
        <div class="col-12 col-lg-7">
            <canvas id="myChart" style="width:100%"></canvas>

            <div class="h5 font-weight-bold text-danger ml-5 mt-3 mb-4">Jami: {{ total }} so'm</div>
        </div>
    </div>

    <script type="text/javascript">
        var year = new URL(location.href).searchParams.get('fir');
        document.getElementById("fir").value = year;
        var year = new URL(location.href).searchParams.get('sec');
        document.getElementById("sec").value = year;
    </script>
    <script
            src="/static/js/Chart.js">
    </script>
    <script>
        var xValues = {{ labels | safe }};
        var yValues = {{ data | safe}};

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0.3,
                    backgroundColor: "rgba(7,82,149,1.0)",
                    borderColor: "rgba(7,82,149,1.0)",
                    pointRadius: 3,
                    data: yValues
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {min: {{ mn }}, max: {{ mx }}}}],
                },
                title:
                    {
                        display: true,
                        fontSize: 16,
                        text: {{ date_string | safe}},
                    }
            }
        });
    </script>

{% endblock %}