{% extends 'base.html' %}
{% block content %}



    <br>

    <form class="container"
          style="width:100%; background:white; padding:25px; border-radius: 15px; box-shadow: 1px 2px 3px gray;">
        <input type="date" name="fir" id="fir" class="form-item m-2">dan-
        <input type="date" name="sec" id="sec" class="form-item m-2">gacha
        <button type="sumbit" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Filter</button>
        <a href="?fir=today&sec=today" type="button" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Bugun</a>
        <a href="?fir=week&sec=week" type="button" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Hafta</a>
        <a href="?fir=month&sec=month" type="button" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Oy</a>
    </form>
    <div class="h6 text-center">{{ date_string }}</div>
    <table class="table table-hover">

        <tr>
            <td class="bg-primary text-white" style=" border-radius: 10px 0 0 0">№</td>
            <td class="bg-primary text-white">
                <div class="dropdown">
                    <button class="btn btn-primary p-0 dropdown-toggle"
                            type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Kategoriya
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for category in categories %}
                            <a class="dropdown-item"
                               onclick="addurlparameter('category', {{ category.id }})">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td class="bg-primary text-white">Nomi</td>
            <td class="bg-primary text-white">Rasmi</td>
            <td class="bg-primary text-white">Nechta</td>
            <td class="bg-primary text-white">Savdo</td>
            <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">Tahlil</td>
        </tr>

        {% for food in foods %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ food.category.title }}</td>
                <td>{{ food.title }}</td>
                <td><img src="{{ food.photo }}" style="height: 50px; width:50px" alt="image"></td>
                <td>{{ food.total_sold }}</td>
                <td>{{ food.total_sale }} so'm</td>
                <td><a href="{% url 'trading_detailed_view' pk=food.pk %}">
                    <button type="button" class="btn btn-info"><i class="fa fa-eye"></i>Tahlil</button>
                </a></td>
            </tr>
        {% endfor %}

    </table>



    <!-- Paginator shu yerga if ishlatib paginator kerak bo`lmasa o`chirib qo`yadigan qiling -->

    <div class="text-center">

        {% if p_paginator.has_previous %}
            <a class="btn btn-primary" href="?page={{ p_paginator.previous_page_number }}"><</a>
        {% endif %}
        <span class="btn btn-primary">

    Sahifa {{ p_paginator.number }}/{{ p_paginator.paginator.num_pages }}
    </span>


        {% if p_paginator.has_next %}
            <a class="btn btn-primary" href="?page={{ p_paginator.next_page_number }}">></a>
        {% endif %}
    </div>

    <!-- End Paginator -->
    <div class="h5 font-weight-bold text-danger text-right">Jami: {{ total }} so'm</div>
    <script type="text/javascript">
        var year = new URL(location.href).searchParams.get('fir');
        document.getElementById("fir").value = year;
        var year = new URL(location.href).searchParams.get('sec');
        document.getElementById("sec").value = year;

        function addurlparameter(name, value) {
            var sp = new URLSearchParams(window.location.search)
            sp.set(name, value)
            window.location.search = sp.toString()
        }
    </script>


{% endblock %}