{% extends 'base.html' %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <main style="overflow-y: auto; height: 85%; position: fixed; top:50px; width: 100%; ">
            <div class="container" style="margin:0; ">
                <div class="row" id="filtercontent">
                    {% for item in orderitems %}
                        <div class="col-11 col-md-5 cardproduct card mr-5 ml-1 shadow text-white bg-white row"
                             style="margin-bottom: 15px!important;" catename="{{ item.meal.category.title }}">
                            <div class="col-3 p-0">
                                <img src="{{ item.meal.photo }}" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-9 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                {{ item.meal.title }}
                            </div>
                            <a href="{% url 'delete_pickup_item' pk_item=item.pk %}" type="button" class="fa fa-trash btn btn-danger"
                               style="position: absolute; right:2px; top:2px;"></a>
                            <span id="{{ item.meal.id }}p"
                                  style="position:absolute; right: 5%; bottom: 5px; font-weight:700; font-size: 1.7em;"
                                  class="text-danger"><span class="">{{ item.quantity }} ta</span> <span
                                    class="text-primary">x</span>  {{ item.meal.price }} so`m</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </form>




    <a href="{% url 'print_pickup' pk=order.pk %}"
       style="position:absolute; right: 5%; bottom: 90px; border-radius: 50%; background:white; color: #075295; width:50px; height:50px; padding:10px; box-shadow: 0px 0px 8px 2px #000000aa; opacity: 0.9; text-align: center;">
        <i class='fa fa-print' style="font-size:2.4em"></i>
    </a>
    <a class="plussed" href="{% url 'existed_pickup_add' pk=order.pk %}"
       style="position:absolute; right: 22%; bottom: 90px; border-radius: 50%; background:white; color: #075295; width:50px; height:50px; padding:10px; box-shadow: 0px 0px 8px 2px #000000aa; opacity: 0.9; text-align: center;">
        <i class='fa fa-plus' style="font-size:2.4em"></i>
    </a>
    <a class="plussed2 " onclick="if (confirm('O`chirishga rozimisiz')){ document.location.href = '{% url 'delete_pickup' pk_order=order.pk%}'; }"
       style="position:absolute; right: 39%; bottom: 90px; border-radius: 50%; background:white; color: var(--danger); width:50px; height:50px; padding:10px; box-shadow: 0px 0px 8px 2px #000000aa; opacity: 0.9; text-align: center;">
        <i class='fa fa-trash' style="font-size:2.4em"></i>
    </a>
    <div class="menu-food">
        <a href="{% url 'pickup' %}" class="left"><i class="fa fa-arrow-left"
                                                     aria-hidden="true"></i></a>
        <a href="#" style="padding:0" class="centered" id="centered"></a>

        <button type="submit" style="float: right; width: 66%; height: 55px; background-color: white; border:none;"
                class="h4 font-weight-bold text-danger">
            <span id="allsumm">{{ order.needed_payment }}</span> so`m
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>

    </div>



    <script type="text/javascript">
        var vr = document.getElementById("roomname");
        console.log(vr.innerHTML.length);
        if (vr.innerHTML.length <= 7) {
            vr.style.lineHeight = "45px"
            vr.style.fontSize = "25px";
        } else {
            vr.style.fontSize = "25px";
        }
    </script>
    <script type="text/javascript">
        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }


        function changer() {
            document.getElementById("centered").style.width = "0px";
            document.getElementById("centered").style.boxShadow = "0";
            document.getElementById("centered").style.marginLeft = "5px";
        }

        //delay(100).then(() => changer());
    </script>

    <script>
        document.getElementById("filterreset").style.display = "none";

        function filterFunction(strf) {
            if (strf !== "") {


                var input, filter, table, tr, td, i, txtValue;
                /*input = document.getElementById("myInput");
                filter = input.value.toUpperCase();*/
                strf = strf.toUpperCase();
                table = document.getElementById("filtercontent");
                tr = table.getElementsByClassName("cardproduct");
                for (i = 0; i < tr.length; i++) {
                    td = tr;
                    if (td) {
                        txtValue = td[i].getAttribute("catename");
                        if (txtValue.toUpperCase().indexOf(strf) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
                document.getElementById("filterreset").style.display = "";
                document.getElementById("catname").innerHTML = " " + strf;
            } else {
                table = document.getElementById("filtercontent");
                tr = table.getElementsByClassName("cardproduct");
                for (i = 0; i < tr.length; i++) {
                    td = tr;
                    if (td) {
                        txtValue = td[i].getAttribute("catename");
                        if (txtValue.toUpperCase().indexOf(strf) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "";
                        }
                    }
                }
                document.getElementById("filterreset").style.display = "none";
                document.getElementById("catname").innerHTML = " Kategoriya";
            }
        }

        var activen = 0;

        function searchactive() {
            activen += 1;
            if (activen % 2 == 1) {
                document.getElementById("searfilter").style.display = "block";
                document.getElementById("searchorfilter").className = "fa fa-filter";
                filterFunction("");
            } else {
                document.getElementById("searfilter").style.display = "none";
                document.getElementById("searchorfilter").className = "fa fa-search";
                filterFunction("");
                document.getElementById("searchreset").style.display = "none"
            }
        }


    </script>


    <script>

        document.getElementById("searchreset").style.display = "none"

        function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searfilter");
            filter = input.value.toUpperCase();
            table = document.getElementById("filtercontent");
            tr = table.getElementsByClassName("cardproduct");
            for (i = 0; i < tr.length; i++) {
                td = tr[i];
                console.log(td);
                if (td) {
                    txtValue = td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
            document.getElementById("searchreset").style.display = "block"
        }
    </script>
    <script type="text/javascript">
        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }


        function changer() {
            document.getElementById("centered").style.width = "0px";
            document.getElementById("centered").style.boxShadow = "4px 0 4px 1px #000000aa";
            document.getElementById("centered").style.marginLeft = "5px";
        }

        delay(100).then(() => changer());
    </script>
{% endblock %}