{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover mt-4">

        <tr>
            <td class="bg-primary text-white" style=" border-radius: 10px 0 0 0">№</td>
            <td class="bg-primary text-white">{{ pickup_01 }}</td>
            <td class="bg-primary text-white">{{ pickup_02 }}</td>
            <td class="bg-primary text-white">{{ pickup_03 }}</td>
            <td class="bg-primary text-white">{{ pickup_04 }}</td>
            <td class="bg-primary text-white">{{ pickup_05 }}</td>
            <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">{{ pickup_06 }}</td>
        </tr>

        {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>#{{ order.id }}</td>
                <td>{{ order.waiter.full_name }}</td>
                <td>{{ order.created_time }}</td>
                <td><span class="moneyed">{{ order.needed_payment }}</span> {{ pickup_07 }}</td>
                <td><a href="{% url 'pickup_view' pk=order.id %}">
                    <button type="button" class="btn btn-info"><i class="fa fa-eye"></i> {{ pickup_08 }}</button>
                </a></td>
                <td><a href="{% url 'complete_pickup' pk=order.id %}">
                    <button type="button" class="btn btn-warning"><i class="fa fa-credit-card"></i> {{ pickup_09 }}</button>
                </a></td>
            </tr>
        {% endfor %}

    </table>
    <a href="{% url 'pickup_add' %}" class="pickup-add" style="">
        <i class="fa fa-plus" style="color: white; font-size:2em; "></i>
    </a>
{% endblock %}