{% extends 'base.html' %}
{% block content %}
    <div class="container row p-0 mt-2 mb-2 text-center"  style="position: relative; z-index: 1; ">
        <label class="col-2 btn btn-primary" style="padding:6.8px; border-radius: 5px 0 0 5px; z-index: 2;"
               for="searfilter" onclick="searchactive()">
            <i class="fa fa-search" id="searchorfilter"></i>
        </label>
        <input id="searfilter" placeholder="Qidirish" type="search" class="btn border"
               style="display: none; background-color: white; position:absolute; left: 16.6%; z-index: 1; text-align: left; width:  83.4%;"
               onkeyup="searchFunction()" onmousemove="searchFunction()">
        <button id="searchreset" type="button" class="btn btn-primary"
                style="position:absolute; right:0px; transform:scale(1.05); z-index: 1"
                onclick="filterFunction(''); document.getElementById('searfilter').value='';"><i
                class="fa fa-close"></i></button>
        <div class="dropdown col-10 p-0 ">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    style="width: 100%; border-radius: 0 5px 5px 0; font-weight: 800; color:var(--primary); text-align:left; border:2px solid gray;">
                <i class="fa fa-filter"></i><span id="catname"> Kategoriya</span>
                <button id="filterreset" type="button" class="btn btn-primary"
                        style="position:absolute; right:0px; transform:scale(1.05);" onclick="filterFunction('');"><i
                        class="fa fa-close"></i></button>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for category in categories %}
                    <a class="dropdown-item" onclick="filterFunction('{{ category.title }}')"><img
                            src="{{ category.image.url }}" style="width:25px; height:25px"
                            alt="category_image"> {{ category.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>


<form method="POST">
        {% csrf_token %}
        <main style="overflow-y: auto; height: 75%; position: fixed; top:80px; width: 100%; ">
            <div class="container" style="margin:0; ">
                <div class="row" id="filtercontent">
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                    
                        <div class="col-11 col-md-5 cardproduct card shadow text-white bg-white row mr-2 m-auto"
                             style="margin-bottom: 15px!important;" catename="{{ food.category.title }}">
                            <div class="col-3 p-0">
                                <img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:15px"
                                     alt="image">
                            </div>
                            <div class="text-primary mt-3 col-7 h4 font-weight-bold text-left ml-2 filtercontentclass"
                                 style="line-height: 27px; padding: 0">
                                HotDog
                            </div>
                            <div class="text-primary col-3 h4 font-weight-bold text-left"
                                 style="line-height: 30px; transform: scale(0.8) translateY(-15px);">
                                <div class="addandsubt btn btn-success" onclick="adding('{{ food.id }}')"><span>+</span>
                                </div>
                                <input class="limit  border " type="number" name="{{ food.id }}" min="0"
                                       id="{{ food.id }}">

                                <div class="addandsubt btn btn-danger" onclick="subt('{{ food.id }}')"><span> -</span>
                                </div>
                            </div>
                            <span id="{{ food.id }}p" style="position:absolute; right: 15%; bottom: 5px; font-weight:700"
                                  class="text-danger">{{ food.price }} so`m</span>
                        </div>
                    
                </div>
            </div>
        </main>
</form>





        <div class="menu-food">
            <a href="#" class="left"><i class="fa fa-arrow-left"
                                                                         aria-hidden="true"></i></a>
            <a href="#" style="padding:0" class="centered" id="centered"></a>

            <button type="submit" style="float: right; width: 66%; height: 55px; background-color: white; border:none;" class="h4 font-weight-bold text-danger">
                <span id="allsumm">0</span> so`m
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>

        </div>



    <script type="text/javascript">
        var vr = document.getElementById("roomname");
        console.log(vr.innerHTML.length);
        if (vr.innerHTML.length <= 7) {
            vr.style.lineHeight = "45px"
            vr.style.fontSize = "25px";
        } else {
            vr.style.fontSize = "25px";
        }
    </script>
    <script type="text/javascript">
        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }


        function changer() {
            document.getElementById("centered").style.width = "0px";
            document.getElementById("centered").style.boxShadow = "0";
            document.getElementById("centered").style.marginLeft = "5px";
        }

        //delay(100).then(() => changer());
    </script>

    <script>
        document.getElementById("filterreset").style.display = "none";

        function filterFunction(strf) {
            if (strf !== "") {


                var input, filter, table, tr, td, i, txtValue;
                /*input = document.getElementById("myInput");
                filter = input.value.toUpperCase();*/
                strf = strf.toUpperCase();
                table = document.getElementById("filtercontent");
                tr = table.getElementsByClassName("cardproduct");
                for (i = 0; i < tr.length; i++) {
                    td = tr;
                    if (td) {
                        txtValue = td[i].getAttribute("catename");
                        if (txtValue.toUpperCase().indexOf(strf) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
                document.getElementById("filterreset").style.display = "";
                document.getElementById("catname").innerHTML = " " + strf;
            } else {
                table = document.getElementById("filtercontent");
                tr = table.getElementsByClassName("cardproduct");
                for (i = 0; i < tr.length; i++) {
                    td = tr;
                    if (td) {
                        txtValue = td[i].getAttribute("catename");
                        if (txtValue.toUpperCase().indexOf(strf) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "";
                        }
                    }
                }
                document.getElementById("filterreset").style.display = "none";
                document.getElementById("catname").innerHTML = " Kategoriya";
            }
        }

        var activen = 0;

        function searchactive() {
            activen += 1;
            if (activen % 2 == 1) {
                document.getElementById("searfilter").style.display = "block";
                document.getElementById("searchorfilter").className = "fa fa-filter";
                filterFunction("");
            } else {
                document.getElementById("searfilter").style.display = "none";
                document.getElementById("searchorfilter").className = "fa fa-search";
                filterFunction("");
                document.getElementById("searchreset").style.display = "none"
            }
        }


    </script>


    <script>

        document.getElementById("searchreset").style.display = "none"

        function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searfilter");
            filter = input.value.toUpperCase();
            table = document.getElementById("filtercontent");
            tr = table.getElementsByClassName("cardproduct");
            for (i = 0; i < tr.length; i++) {
                td = tr[i];
                console.log(td);
                if (td) {
                    txtValue = td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
            document.getElementById("searchreset").style.display = "block"
        }
    </script>

    <script type="text/javascript">

        function calculateAll(){
            var allsumm = 0;
            var klt = 0;
            var limites = document.getElementsByClassName("limit");
            for (i = 0; i < limites.length; i++){
                klt = document.getElementById(limites[i].id+"p").innerHTML.slice(0, -4);
                allsumm+=parseInt(klt)*limites[i].value;
            }
            document.getElementById("allsumm").innerHTML=allsumm;
            if (allsumm==0){
                document.getElementById("centered").style.width = "";
                document.getElementById("centered").style.boxShadow = "";
                document.getElementById("centered").style.marginLeft = "";
            }
            else{
                changer();
            }
        }

        function adding(aer) {
            changer();
            document.getElementById(aer).value -= -1;
            calculateAll()
        }

        function subt(aer) {
            if (document.getElementById(aer).value - 1 > 0) {
                document.getElementById(aer).value -= 1;
            } else {
                document.getElementById(aer).value = "";
            }
            calculateAll()
        }
    </script>

{% endblock %}