{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover mt-4">

        <tr>
            <td class="bg-primary text-white" style=" border-radius: 10px 0 0 0">№</td>
            <td class="bg-primary text-white">ID</td>
            <td class="bg-primary text-white">Xodim</td>
            <td class="bg-primary text-white">Olingan vaqt</td>
            <td class="bg-primary text-white">Umumiy summa</td>
            <td class="bg-primary text-white">Tahlil</td>
            <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">Tasdiqlash</td>
        </tr>

        {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>#{{ order.id }}</td>
                <td>{{ order.waiter.full_name }}</td>
                <td>{{ order.created_time }}</td>
                <td>{{ order.needed_payment }} so'm</td>
                <td><a href="{% url 'pickup_view' pk=order.id %}">
                    <button type="button" class="btn btn-info"><i class="fa fa-eye"></i> Tahlil</button>
                </a></td>
                <td><a href="{% url 'order_view' pk=order.id %}">
                    <button type="button" class="btn btn-warning"><i class="fa fa-credit-card"></i> Tugatish</button>
                </a></td>
            </tr>
        {% endfor %}

    </table>
    <a href="{% url 'pickup_add' %}" class="pickup-add" style="">
        <i class="fa fa-plus" style="color: white; font-size:2em; "></i>
    </a>
{% endblock %}