{% extends 'base.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="row mt-4">
            <div class="card col-11 col-sm-10 col-lg-6 m-auto p-3 shadow">
                <div class="h4">Buyurtma: #{{ order.id }} <span
                        class="float-left float-sm-right float-md-right text-danger font-weight-bold">Olib Ketish</span>
                </div>
                {% csrf_token %}
                <table class="table tableorder">
                    <tr class="bg-primary text-white">
                        <td>Nomi</td>
                        <td>Soni</td>
                        <td>Umumiy narxi</td>
                    </tr>
                    {% for orderitem in orderitems %}
                        <tr>
                            <td>{{ orderitem.meal.title }}</td>
                            <td>{{ orderitem.quantity }} ta</td>
                            <td>{{ orderitem.total_price }} so'm</td>
                        </tr>
                    {% endfor %}
                    <tr class="text-danger font-weight-bold">
                        <td>Umumiy</td>
                        <td>{{ order.orderitem_set.count }} ta</td>
                        <td>{{ order.needed_payment }} so'm</td>
                    </tr>
                </table>
                {{ form.comment }}
                <div class="input-group mt-3 button-payyed">
                  <div class="input-group-prepend" onclick="money_cash()">
                    <span class="input-group-text p-1 text-center">
                        <button type="button" class="btn btn-secondary cash_money" id="cash_money"  style="margin: auto; width:30px; height:30px; border-radius: 50%;"></button>
                    </span>
                </div>
                    {{ form.cash_money }}
                    <div class="input-group-append" onclick="money_cash()">
                    <span class="input-group-text">
                        <i class="fa fa-money"></i>
                    </span>
                    </div>
                </div>
                <div class="input-group mt-1 button-payyed">
                  <div class="input-group-prepend" onclick="credit_card()">
                    <span class="input-group-text p-1 text-center" >
                        <button type="button" class="btn btn-secondary credit_card" id="credit_card"  style="margin: auto; width:30px; height:30px; border-radius: 50%;"></button>
                    </span>
                  </div>
                    {{ form.credit_card }}
                    <div class="input-group-append" onclick="credit_card()">
                      <span class="input-group-text">
                          <i class="fa fa-credit-card"></i>
                      </span>
                    </div>
                </div>
                <div class="input-group mt-1 button-payyed">
                  <div class="input-group-prepend" onclick="debt()">
                    <span class="input-group-text p-1 text-center" >
                        <button type="button" class="btn btn-secondary debt_money" id="debt_money"  style="margin: auto; width:30px; height:30px; border-radius: 50%;"></button>
                    </span>
                  </div>
                    {{ form.debt_money }}
                    <div class="input-group-append"  onclick="debt()">
                      <span class="input-group-text">
                          <i class="fa fa-ban"></i>
                      </span>
                    </div>
                </div>
                
                
                <div class="mr-auto">
                    <a href="{% url 'pickup' %}" type="button" class="btn btn-danger m-1 mt-3"><i class="fa fa-times"
                                                                                                  aria-hidden="true"></i>
                        Bekor qilish</a>
                    <button type="sumbit" class="btn btn-primary m-1 mt-3" id="submitForm"><i class="fa fa-check-circle"></i> Tasdiqlash
                    </button>
                </div>
                <span class="bottomed">{{ order.created_time }}</span>
            </div>
        </div>
    </form>

{% endblock %}