{% extends 'base2.html' %}
{% block content %}

    <div class="topmenu">
        <a class="btn btn-light w-75 topmenu-room">
            <div class="h5 text-primary topmenu-room-span" id="roomname" style="line-height:45px">Buyurtmalar</div>
        </a>
    </div>
    <main style=" margin-top:10px">

        <div class="container">
            <div class="row">

                {% for order in orders %}
                    <div class="col-5 col-md-5 cardtable card m-auto shadow  h1 bg-info"
                         style="margin-bottom: 15px!important">
                        {% if order.table.time_required %}
                            <span style="position:absolute; font-size: 15px; left: 5px; top:2px">
                                <i class="fa fa-clock-o"></i> {{ order.passed_time_formatted }}
                            </span>
                        {% endif %}
                        <a href="{% url 'waiter_order' pk=order.table.pk %}" class="cardtable text-white mt-4"
                           style="margin-bottom: 15px!important;">
                            <span class="tableprice">{{ order.table.number }}</span>
                        </a>
                        <a class="startadd" style="bottom:-15px; margin-top:-15px"
                           href="{% url 'add_item' pk_room=order.table.room.pk pk_table=order.table.pk %}">
                        <span style="position:absolute; font-size:0.3em; padding-left:2px; right: 5px; top:0">{{ order.table.room.title }}</span>
                            <span style="position:absolute; font-size:12px; padding: 1px 2px 0 2px; right: 2px; bottom:0; color: yellow; font-weight:normal; "><span class="moneyed">{{ order.needed_payment }}</span> so`m</span>
                            +
                        </a>
                    </div>
                {% endfor %}
                
                    <div style="height: 80px;" class="col-12">
                        
                    </div>
            </div>
        </div>

    </main>

    <div class="menu">
        <a href="/room"><i class="fa fa-bars"></i></a>
        <a href="/my_orders"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        <a href="/my_profile"><i class="fa fa-user"></i></a>

    </div>
    <script type="text/javascript">
        var vr = document.getElementById("roomname");
        console.log(vr.innerHTML.length);
        if (vr.innerHTML.length <= 7) {
            vr.style.lineHeight = "45px"
            vr.style.fontSize = "25px";
        } else {
            vr.style.fontSize = "25px";
        }
    </script>

{% endblock %}