{% extends 'base2.html' %}
{% block content %}

    <div class="card m-2 text-left p-3 font-weight-bold text-dark row h5">
        <div class="text-center h1 text-primary font-weight-bold">
            PROFIL
        </div>
        <div >
            <i class="fa fa-user"></i>
            {{ user.full_name }}
        </div>
        <a href="/logout" class="btn btn-danger block mt-2">
            <div>
                Acoountdan chiqish
                <i class="fa fa-sign-out"></i>
            </div>
        </a>
    </div>
    
    <div class="card m-2 text-left p-3 font-weight-bold text-dark row h5">
        <div class="text-center h1 font-weight-bold btn btn-primary">
            BUGUN
        </div>
        <div class="h6">
            <i class="fa fa-money"></i>
            Buyurtmalar soni: {{ orders_count }} ta
        </div>
        <div  class="h6">
            <i class="fa fa-dollar"></i>
            Buyurtmalar narxi: {{ orders_amount }} so`m
        </div>
    </div>

    <div class="menu">
        <a href="/room"><i class="fa fa-bars"></i></a>
        <a href="/my_orders"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        <a href="/my_profile"><i class="fa fa-user" ></i></a>

    </div>
    <script type="text/javascript">
        var vr = document.getElementById("roomname");
        console.log(vr.innerHTML.length);
        if (vr.innerHTML.length <= 7) {
            vr.style.lineHeight = "45px"
            vr.style.fontSize = "25px";
        } else {
            vr.style.fontSize = "25px";
        }
    </script>

{% endblock %}