{% extends 'base2.html' %}
{% block content %}

<br>
    <div class="card m-2 text-left p-3 font-weight-bold text-dark row h5  col-md-5 m-auto" >
        <div class="text-center h1 text-primary font-weight-bold">
            {{ waiter_04 }}
        </div>
        <div >
            <i class="fa fa-user"></i>
            {{ user.full_name }}
        </div>
        <a href="/logout" class="btn btn-danger block mt-2">
            <div>
                {{ waiter_05  }}
                <i class="fa fa-sign-out"></i>
            </div>
        </a>
    </div>
    <br>    
    <div class="card m-2 text-left p-3 font-weight-bold text-dark row h5 col-md-5 m-auto mt-2">
        <div class="text-center h1 font-weight-bold btn btn-primary">
            {{ waiter_06 }}
        </div>
        <div class="h6">
            <i class="fa fa-money mr-2" ></i>
            {{ waiter_07 }}: {{ orders_count }} {{ waiter_08 }}
        </div>
        <div  class="h6">
            <i class="fa fa-dollar  ml-1 mr-3"></i>
            {{ waiter_09 }}: <span class="moneyed">{{ orders_amount }}</span> {{ waiter_03 }}
        </div>
        <div  class="h6">
            <i class="fa fa-money mr-2"></i>
            {{ waiter_15 }}: <span class="moneyed">{{ orders_amount_cash }}</span> {{ waiter_03 }}
        </div>
        <div  class="h6">
            <i class="fa fa-credit-card ml-0 mr-2"></i>
            {{ waiter_16 }}: <span class="moneyed">{{ orders_amount_card }}</span> {{ waiter_03 }}
        </div>
        <div  class="h6">
            <i class="fa fa-ban ml-1 mr-2"></i>
            {{ waiter_17 }}: <span class="moneyed">{{ orders_amount_debt }}</span> {{ waiter_03 }}
        </div>
        <div  class="h6">
            <i class="fa fa-user ml-1 mr-2"></i>
            {{ waiter_18 }}: <span class="moneyed">{{ orders_amount_tax }}</span> {{ waiter_03 }}
        </div>
    </div>

    <div class="menu">
        <a href="/room"><i class="fa fa-bars"></i></a>
        <a href="/my_orders"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        <a href="/my_profile"><i class="fa fa-user" ></i></a>

    </div>
    <script type="text/javascript">
        var vr = document.getElementById("roomname");
        console.log(vr.innerHTML.length);
        if (vr.innerHTML.length <= 7) {
            vr.style.lineHeight = "45px"
            vr.style.fontSize = "25px";
        } else {
            vr.style.fontSize = "25px";
        }
    </script>

{% endblock %}