	{% extends 'base2.html' %}
{% block content %}

<div class="h1">XONALAR</div>
<main>
		<div class="row" style="width:100%; margin:auto; text-align:center;">
            {% for room in rooms %}
			<a href="{% url 'table' pk=room.pk %}" class="col-10 col-md-5 card m-auto shadow h1 text-primary p-1" style="margin-top:5px!important; height: 200px; padding-top: 40px!important;">
				<div class="tableindex">{{ room.busy_tables }}/{{ room.tables_count }}</div>
				{{ room.title }}
			</a>
            {% endfor %}
            
                    <div style="height: 80px;" class="col-12">
                        
                    </div>
		</div>
</main>

<div class="menu">
	<a href="/room"><i class="fa fa-bars"></i></a>
	<a href="/my_orders"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
	<a href="/my_profile"><i class="fa fa-user"></i></a>

</div>

{% endblock %}