{% extends 'base2.html' %}
{% block content %}

<div class="h1">XONALAR</div>
<main style="overflow-y: scroll; overflow-x: hidden; height:80%">
		<div class="row">
            {% for room in rooms %}
			<a href="{% url 'table' pk=room.pk %}" class="col-10 col-md-5 card m-auto shadow h1 text-primary p-5" style="margin-top:5px!important">
				<div class="tableindex">{{ room.busy_tables }}/{{ room.tables_count }}</div>
				{{ room.title }}
			</a>
            {% endfor %}
		</div>
</main>

<div class="menu">
	<a href="/table"><i class="fa fa-bars"></i></a>
	<a href="/sean"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-user" onclick="if (confirm('Chiqishga rozimisiz')){ document.location.href = '/logout'; }" ></i></a>

</div>

{% endblock %}