{% extends 'base2.html' %}
{% block content %}

    <div class="topmenu">
        <a class="btn btn-light text-danger p-1 " href="/room">
            <i class="fa fa-home" style="font-size:3em"></i>
        </a>
        <a class="btn btn-light ml-3 topmenu-room" href="/room">
            <div class="h2 text-primary topmenu-room-span" id="roomname" style="line-height:25px">UMUMIY</div>
        </a>
        <a class="btn btn-success  p-1 ml-3">
            <span class="h2 text-light "
                  style="height: 34px; display: inline-block; font-size: 1.7em;  margin-top: 6px; width: 50px;"> 2 </span>
        </a>
    </div>
    <main style="overflow-y: auto; height:80%">

        <div class="container">
            <div class="row">

                {% for table in tables %}
                    {% if table.is_available %}
                        <a href="{% url 'add_item' pk_room=room.pk pk_table=table.pk %}" class="col-5 col-md-5 cardtable card m-auto shadow text-primary h1"
                           style="margin-bottom: 15px!important;">
                            <span class="tableprice">{{ table.number }}</span>
                            <span class="startadd">+</span>
                        </a>
                    {% else %}
                        <a href="{% url 'add_item' pk_room=room.pk pk_table=table.pk %}" class="col-5 col-md-5 cardtable card m-auto shadow text-white h1 bg-info"
                           style="margin-bottom: 15px!important;">
                            <i class="fa fa-eye" aria-hidden="true" style="position:absolute; font-size: 25px; right: 10px; top:2px"></i>
                            <span class="tableprice">{{ table.number }}</span>
                            <span class="startadd">
                                <span style="position:absolute; font-size:12px; padding: 1px 2px 0 2px; right: 2px; bottom:0; color: yellow; font-weight:normal; ">{{ table.current_order.needed_payment }} so`m</span>
                                +
                            </span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </main>

    <div class="menu">
        <a href="/room"><i class="fa fa-bars"></i></a>
        <a href="/sean"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-user"
                       onclick="if (confirm('Chiqishga rozimisiz')){ document.location.href = '/logout'; }"></i></a>

    </div>
    <script type="text/javascript">
        var vr = document.getElementById("roomname");
        console.log(vr.innerHTML.length);
        if (vr.innerHTML.length <= 7) {
            vr.style.lineHeight = "45px"
            vr.style.fontSize = "25px";
        } else {
            vr.style.fontSize = "25px";
        }
    </script>

{% endblock %}