{% extends 'base2.html' %}
{% block content %}

    <div class="topmenu">
        <a class="btn btn-light text-danger p-1 " href="/room">
            <i class="fa fa-home" style="font-size:3em"></i>
        </a>
        <a class="btn btn-light ml-3 topmenu-room" href="/room">
            <div class="h2 text-primary topmenu-room-span" id="roomname" style="line-height:45px">{{ room.title }}</div>
        </a>
        <a class="btn btn-success  p-1 ml-3">
            <span class="h2 text-light "
                  style="height: 34px; display: inline-block; font-size: 1.7em;  margin-top: 6px; width: 50px;"> {{ busy_tables }} </span>
        </a>
    </div>
    <main style="overflow-y: auto; height:80%; margin-top:10px">

        <div class="container">
            <div class="row">

                {% for table in tables %}
                    {% if table.is_available %}
                        <div class="col-5 col-md-5 cardtable card m-auto shadow text-primary h1"
                             style="margin-bottom: 15px!important;">
                            <a class="cardtable text-white mt-4"
                               style="margin-bottom: 15px!important;">
                                <span class="tableprice" style="color: #2692d0">{{ table.number }}</span></a>
                            <a class="startadd" style="bottom:-15px; margin-top:-15px"
                               href="{% url 'add_item' pk_room=room.pk pk_table=table.pk %}">
                                +
                            </a>
                        </div>
                    {% else %}
                        {% if table.current_order.waiter == waiter %}
                            <div class="col-5 col-md-5 cardtable card m-auto shadow  h1 bg-info"
                                 style="margin-bottom: 15px!important">
                                <a href="{% url 'waiter_order' pk=table.pk %}" class="cardtable text-white mt-4"
                                   style="margin-bottom: 15px!important;">
                                    {% if table.time_required %}
                                        <span style="position:absolute; font-size: 15px; left: 5px; top:2px">
                                <i class="fa fa-clock-o"></i> {{ table.current_order.passed_time_formatted }}
                            </span>
                                    {% endif %}
                                    <i class="fa fa-eye" aria-hidden="true"
                                       style="position:absolute; font-size: 25px; right: 10px; top:2px"></i>
                                    <span class="tableprice">{{ table.number }}</span>
                                </a>
                                <a class="startadd" style="bottom:-15px; margin-top:-15px"
                                   href="{% url 'add_item' pk_room=room.pk pk_table=table.pk %}">
                                    <span style="position:absolute; font-size:12px; padding: 1px 2px 0 2px; right: 2px; bottom:0; color: yellow; font-weight:normal; ">{{ table.current_order.needed_payment }} so`m</span>
                                    +
                                </a>
                            </div>
                        {% else %}
                            <div class="col-5 col-md-5 cardtable card m-auto shadow  h1 bg-secondary"
                                 style="margin-bottom: 15px!important">
                                <a class="cardtable bg-secondary mt-4"
                                   style="margin-bottom: 15px!important;">
                                    <span class="tableprice">{{ table.number }}</span>
                                </a>
                                <a class="startadd bg-secondary" style="bottom:-15px; margin-top:-15px">
                                    +
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </main>

    <div class="menu">
        <a href="/room"><i class="fa fa-bars"></i></a>
        <a href="/my_orders"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        <a href="/my_profile"><i class="fa fa-user"></i></a>

    </div>
    <script type="text/javascript">
        var vr = document.getElementById("roomname");
        console.log(vr.innerHTML.length);
        if (vr.innerHTML.length <= 7) {
            vr.style.lineHeight = "45px"
            vr.style.fontSize = "25px";
        } else {
            vr.style.fontSize = "25px";
        }
    </script>

{% endblock %}