{% extends 'base.html' %}
{% block content %}
    <ul id="tabs" class="nav nav-tabs nav-tabs-style" role="tablist" style=" border: none;">
        <li class="nav-item ">
            <a id="tab-A" href="#pane-A" class="nav-link nav-link-style active border-0" data-toggle="tab" role="tab">XARAJATLAR</a>
        </li>
        <li class="nav-item">
            <a id="tab-B" href="#pane-B" class="nav-link nav-link-style border-0" data-toggle="tab" role="tab">XARAJAT
                SABABLARI</a>
        </li>
    </ul>

    <div id="content" class="tab-content" role="tablist">

        <div id="pane-A" class=" border-top-0 tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div role="tab" id="heading-A">
                <table class="table table-hover m">

                    <tr>
                        <td class="bg-primary text-white">№</td>
                        <td class="bg-primary text-white">Sababi</td>
                        <td class="bg-primary text-white">
                            <div class="dropdown" >
                                <button class="btn btn-primary p-0 dropdown-toggle text-left"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="width: 100%;">
                                    Sana
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 300px;">
                                    <form class="h6">
                                        <table class="tableab">
                                            <tr>
                                                <td>
                                                    <div class="p-1" style="font-size: 13px;"><input type="date" name="fir" id="fir" class="form-item m-1" style="border: 1px solid black">dan</div>            
                                                </td>
                                                <td rowspan="2">
                                                    <button type="sumbit" class="btn btn-primary m-2 mt-3"><i class="fa fa-filter"></i> Filter</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="p-1" style="font-size: 13px;"><input type="date" name="sec" id="sec" class="form-item m-1" style="border: 1px solid black">gacha</div>
                                                </td>
                                            </tr>
                                        </table>
                                        <a href="?fir=week&sec=week" type="button" class="btn btn-primary ml-2">
                                            <i class="fa fa-filter"></i>
                                            Hafta
                                        </a>
                                        <a href="?fir=month&sec=month" type="button" class="btn btn-primary m-0">
                                            <i class="fa fa-filter"></i> 
                                            Oy
                                        </a>
                                        <a href="/expenses" type="button" class="btn btn-danger m-0">
                                            <i class="fa fa-times"></i> 
                                            Qaytalash
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td class="bg-primary text-white text-center">Amalga oshirdi</td>
                        <td class="bg-primary text-white">Summa</td>
                        <td class="bg-primary text-white">O`chirish</td>
                    </tr>
                    {% for expense in expenses %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ expense.reason.title }}</td>
                            <td>{{ expense.created_time }}</td>
                            <td>{{ expense.performer.full_name }}</td>
                            <td>{{ expense.amount }} so'm</td>
                            <td><a href="{% url 'expense_delete' pk=expense.pk %}">
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> O`chirish
                                </button>
                                <a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>


                <!-- Button trigger modal -->
                <a href="{% url 'expense_new' %}" type="button" class="btn btn-primary m-1">Qo'shish</a>
                <span class="h5 font-weight-bold text-danger mr-5 text-right float-right">Jami: {{ total_sum }} so'm</span>
            </div>
            <!-- Paginator shu yerga if ishlatib paginator kerak bo`lmasa o`chirib qo`yadigan qiling -->

            <div class="text-center">

                {% if p_paginator.has_previous %}
                    <a class="btn btn-primary mb-5" href="?page={{ p_paginator.previous_page_number }}"><</a>
                {% endif %}
                <span class="btn btn-primary mb-5">

    Sahifa {{ p_paginator.number }}/{{ p_paginator.paginator.num_pages }}
    </span>


                {% if p_paginator.has_next %}
                    <a class="btn btn-primary mb-5" href="?page={{ p_paginator.next_page_number }}">></a>
                {% endif %}
            </div>

            <!-- End Paginator -->
        </div>


        <div id="pane-B" class=" border-top-0 tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
            <div role="tab" id="heading-B">

                <table class="table table-hover m">

                    <tr>
                        <td class="bg-primary text-white text-center">№</td>
                        <td class="bg-primary text-white ">Nomi</td>
                        <td class="bg-primary text-white text-center">Sarflash</td>
                        <td class="bg-primary text-white text-center">Tahrir</td>
                        <td class="bg-primary text-white text-center">O`chirish</td>
                    </tr>

                    {% for i in expense_reasons %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ i.title }}</td>
                            <td class="text-center"><a href="{% url 'expense_new' %}?reason={{ i.id }}">
                                <button type="button" class="btn btn-info"><i class="fa fa-money"></i> Sarflash</button>
                            </a></td>
                            <td class="text-center"><a href="{% url 'expense_reason_edit' pk=i.pk %}">
                                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i> Tahrir</button>
                            </a></td>
                            <td class="text-center"><a href="{% url 'expense_reason_delete' pk=i.pk %}">
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> O`chirish
                                </button>
                            </a></td>
                        </tr>
                    {% endfor %}

                </table>


                <!-- Button trigger modal -->
                <a href="{% url 'expense_reason_new' %}" type="button" class="btn btn-primary m-1">Qo'shish</a>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        if (window.location.href.slice(-2) === "#C") {
            document.getElementById("pane-A").setAttribute("class", " border-top-0 tab-pane fade");
            document.getElementById("pane-B").setAttribute("class", " border-top-0 tab-pane fade show active");
            document.getElementById("tab-B").setAttribute("class", " nav-link nav-link-style active border-0");
            document.getElementById("tab-A").setAttribute("class", " nav-link nav-link-style border-0");
        }
    </script>
{% endblock %}