{% extends 'base.html' %}
{% block content %}
<div class="h2 ml-1"><span class="text-danger h1 font-weight-bold">UMUMIY</span> XONA</div>
<main class="row justify-content-md-center">
    {% for table in tables %}
    {% if table.is_available %}
    <!-- CARD of unusing -->
	<div class="tablecard ml-1 card shadow text-center bg-info " >
		<span class="tablenum h1 text-white">{{ table.number }}</span>
		<div class="icons">
			<i class="fa fa-edit text-warning"></i>
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			<i class="fa fa-trash text-danger"></i>
		</div>
	</div>
    {% else %}
	<!-- CARD of using -->
	<div class="tablecard ml-1 card shadow text-center bg-primary " >				
		<span class="tablenum h1 text-white">{{ table.number }}</span>
		<span class="tableprice h6 text-white">{{ table.current_order.needed_payment }} so`m</span>
		<div class="icons">
			<i class="fa fa-edit text-warning"></i>
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			<i class="fa fa-trash text-danger"></i>
		</div>
	</div>
    {% endif %}
    {% endfor %}
	<!-- End card -->

</main>
	<div class="mt-4">
                    <a href="javascript:history.back()" type="button" class="btn btn-danger m-1 mt-3"><i class="fa fa-times"
                                                                                                     aria-hidden="true"></i>
                        Yopish</a>
                    <button type="sumbit" class="btn btn-primary m-1 mt-3"><i class="fa fa-plus"></i> Qo`shish</button>

                </div>
{% endblock %}