{% extends 'base.html' %}
{% block content %}
<div class="h2 ml-5"><span class="text-danger h1 font-weight-bold">UMUMIY</span> XONA</div>
<main class="row justify-content-md-center">
	<!-- CARD of using -->
	<div class="tablecard ml-1 card shadow text-center bg-primary " >				
		<span class="tablenum h1 text-white">1</span>			
		<span class="tableprice h6 text-white">300000so`m</span>
		<div class="icons">
			<i class="fa fa-edit text-warning"></i>
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			<i class="fa fa-trash text-danger"></i>
		</div>
	</div>
	<!-- End card -->

	<!-- CARD of unusing -->
	<div class="tablecard ml-1 card shadow text-center bg-info " >				
		<span class="tablenum h1 text-white">1</span>
		<div class="icons">
			<i class="fa fa-edit text-warning"></i>
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			<i class="fa fa-trash text-danger"></i>
		</div>
	</div>
	<!-- End card -->
	
</main>
{% endblock %}