{% extends 'base.html' %}
{% block content %}
    <div class="h3 ml-1">Xona: <span class="text-danger h3 font-weight-bold">{{ room.title }}</span></div>
    <main class="row">
        {% for table in tables %}
            {% if table.is_available %}
                <!-- CARD of unusing -->
                <div class="tablecard tablecardn ml-3 mt-2 card shadow text-center bg-info ">
                    <span class="tablenum h1 text-white">{{ table.number }}</span>
                    <div class="icons">
                        <a class="fa fa-trash text-danger" type="button"
                           href="{% url 'table_delete' pk_room=room.pk pk_table=table.pk %}"></a>
                    </div>
                </div>
            {% else %}
                <!-- CARD of using -->
                <div class="tablecard tablecard-u ml-3 mt-2 card shadow text-center bg-primary ">
                    <span class="tablenum h1 text-white">{{ table.number }}</span>
                    <span class="tableprice h6 text-white">{{ table.current_order.needed_payment }} so`m</span>
                    <div class="icons">
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </main>
    <div class="mt-4">
        <a href="{% url 'rooms' %}" type="button" class="btn btn-danger m-1 mt-3"><i class="fa fa-arrow-left"
                                                                                     aria-hidden="true"></i>
            Ortga</a>
        <a href="{% url 'table_add' pk=room.pk %}" type="button" class="btn btn-primary m-1 mt-3"><i
                class="fa fa-plus"></i> Qo'shish</a>

    </div>
{% endblock %}