{% extends 'base.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="row mt-5">
            <div class="card col-11 col-sm-10 col-lg-6 m-auto p-3 shadow tableab">
                <div class="h3">Stol qo'shish:</div>
                {% csrf_token %}
                <table>
                    <tr>
                        <td style="text-align: center ">Xona: </td>
                        <td class="text-info h5 font-weight-bold"> {{ room.title }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: center ">Stol raqami: </td>
                        <td> {{ form.number }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: center ">Boshlang`ish qiymat: </td>
                        <td> {{ form.initial_payment }}</td>
                    </tr>
                </table>
                
                <div class="row pl-3 payment_type mt-3 ml-3">
                    <button onclick="changed(1)" id="ccard" type="button" class="btn m-2 btn-success col-2">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </button>
                    <label class="switch" style="margin-top:17px">
                    {{ form.time_required }}
                        <span class="slider"></span>
                    </label>
                    {{ form.time_service_cost }}
                </div>
                
                <div class="row pl-3 payment_type mt-3 ml-3">
                    <button onclick="changed(2)" id="money" type="button" class="btn m-2 btn-success col-2">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <label class="switch" style="margin-top:17px">
                    {{ form.tax_required }}
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="mr-auto">
                    <a href="{% url 'room_tables' room.id %}" type="button" class="btn btn-danger m-1 mt-3"><i
                            class="fa fa-times"
                            aria-hidden="true"></i>
                        Yopish</a>
                    <button type="sumbit" id="FormSubmit" class="btn btn-primary m-1 mt-3"><i class="fa fa-save"></i> Saqlash</button>

                </div>

            </div>
        </div>
    </form>
        <script type="text/javascript">

    </script>
{% endblock %}