{% extends 'base.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="row mt-5">
            <div class="card col-11 col-sm-10 col-lg-6 m-auto p-3 shadow tableab">
                <div class="h3">Stol qo'shish:</div>
                {% csrf_token %}
                <table>
                    <tr>
                        <td style="text-align: center ">Xona: </td>
                        <td class="text-info h5 font-weight-bold"> {{ room.title }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: center ">Stol raqami: </td>
                        <td> {{ form.number }}</td>
                    </tr>
                </table>

                <div class="row pl-3 payment_type mt-3 ml-3">
                    <button onclick="changed(2)" id="money" type="button" class="btn m-2 btn-success col-2">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <label class="switch" style="margin-top:17px">
                    {{ form.tax_required }}
                        <span class="slider"></span>
                    </label>
                    <button onclick="changed(1)" id="ccard" type="button" class="btn m-2 btn-secondary col-2">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </button>
                    {{ form.service_cost }}
                </div>

                <div class="mr-auto">
                    <a href="{% url 'room_tables' room.id %}" type="button" class="btn btn-danger m-1 mt-3"><i
                            class="fa fa-times"
                            aria-hidden="true"></i>
                        Yopish</a>
                    <button type="sumbit" id="FormSubmit" class="btn btn-primary m-1 mt-3"><i class="fa fa-save"></i> Saqlash</button>

                </div>

            </div>
        </div>
    </form>
        <script type="text/javascript">
        document.getElementById("id_service_cost").style.display = "none";
        //document.getElementById("id_payment_type").style.display = "none";
        document.getElementById("FormSubmit").disabled = true;
        document.getElementById("id_service_cost").onkeyup =  function() {changed();}
        document.getElementById("id_number").onkeyup =  function() {changed();}
        document.getElementById("id_tax_required").onclick =  function() {changed();}
        if (document.getElementById("id_tax_required").checked){
            document.getElementById("id_tax_required").checked = true;
            document.getElementById("ccard").className = "btn m-2 btn-success col-2";
            document.getElementById("money").className = "btn m-2 btn-secondary col-2";
            document.getElementById("id_service_cost").style.display = "block";
            console.log(document.getElementById("id_service_cost").value!="");
            if (document.getElementById("id_service_cost").value!="" && document.getElementById("id_number").value!=""){
                document.getElementById("FormSubmit").disabled = false;
            }
            else{
                document.getElementById("FormSubmit").disabled = true;
            }

        }
        function changed(pressed = 0) {
            if ((pressed != 2 && document.getElementById("id_tax_required").checked) || pressed == 1) {
                document.getElementById("id_tax_required").checked = true;
                document.getElementById("ccard").className = "btn m-2 btn-success col-2";
                document.getElementById("money").className = "btn m-2 btn-secondary col-2";
                document.getElementById("id_service_cost").style.display = "block";
                console.log(document.getElementById("id_service_cost").value!="");
                if (document.getElementById("id_service_cost").value!="" && document.getElementById("id_number").value!=""){
                    document.getElementById("FormSubmit").disabled = false;
                }
                else{
                    document.getElementById("FormSubmit").disabled = true;

                }

            } else {
                document.getElementById("id_tax_required").checked = false;
                document.getElementById("money").className = "btn m-2 btn-success col-2";
                document.getElementById("ccard").className = "btn m-2 btn-secondary col-2";
                document.getElementById("id_service_cost").style.display = "none";
                if (document.getElementById("id_number").value!=""){
                    document.getElementById("FormSubmit").disabled = false;
                }
                else{
                    document.getElementById("FormSubmit").disabled = true;

                }
            }

        }
        document.getElementById("id_service_cost").placeholder = "Soatiga(so`mda)";
    </script>
{% endblock %}