{% extends 'base.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="row mt-5">
            <div class="card col-11 col-sm-10 col-lg-6 m-auto p-3 shadow tableab">
                <div class="h2">{{ worker_09 }}:</div>
                {% csrf_token %}
                <table>
                    <tr>
                        <td style="text-align: right;">{{ worker_01 }}:</td>
                        <td>{{ form.first_name }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">{{ worker_02 }}:</td>
                        <td>{{ form.last_name }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">{{ worker_03 }}:</td>
                        <td>{{ form.position }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">{{ worker_10 }}:</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <div class="mr-auto">
                    <a href="{% url 'worker' %}" type="button" class="btn btn-danger m-1 mt-3"><i class="fa fa-times" aria-hidden="true"></i> {{ worker_11 }}</a>
                    <button type="sumbit" class="btn btn-primary m-1 mt-3"><i class="fa fa-save"></i> {{ worker_12 }}</button>

                </div>
            </div>
        </div>
    </form>
{% endblock %}