{% extends 'base.html' %}
{% block content %}

    <table class="table table-hover mt-4">

        <tr>
            <td class="bg-primary text-white" style="border-radius: 10px 0 0 0">№</td>
            <td class="bg-primary text-white">Исм</td>
            <td class="bg-primary text-white">Фамилия</td>
            <td class="bg-primary text-white">Тури</td>
            <td class="bg-primary text-white">Таҳрир</td>
            <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">Ўчириш</td>
        </tr>




        {% for i in workers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.first_name }}</td>
                <td>{{ i.last_name }}</td>
                {% if i.position == "admin" %}
                    <td>Админ</td>
                {% else %}
                    <td>Оффицант</td>
                {% endif %}
                <td><a href="{% url 'user_edit' i.pk %}">
                    <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i> Таҳрир</button>
                </a></td>
                <td><a href="{% url 'user_delete' i.pk %}">
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Ўчириш</button>
                </a></td>
            </tr>
        {% endfor %}
    </table>


    <!-- Button trigger modal -->
    <a href="{% url 'user_new' %}" type="button" class="btn btn-primary m-1">Қўшиш</a>

{% endblock %}