{% extends 'base.html' %}
{% block content %}

    <table class="table table-hover mt-4">

        <tr>
            <td class="bg-primary text-white" style="border-radius: 10px 0 0 0">№</td>
            <td class="bg-primary text-white">{{ worker_01 }}</td>
            <td class="bg-primary text-white">{{ worker_02 }}</td>
            <td class="bg-primary text-white">{{ worker_03 }}</td>
            <td class="bg-primary text-white">{{ worker_04 }}</td>
            <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">{{ worker_05 }}</td>
        </tr>




        {% for i in workers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.first_name }}</td>
                <td>{{ i.last_name }}</td>
                {% if i.position == "admin" %}
                    <td>{{ worker_06 }}</td>
                {% else %}
                    <td>{{ worker_07 }}</td>
                {% endif %}
                <td><a href="{% url 'user_edit' i.pk %}">
                    <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i> {{ worker_04 }}</button>
                </a></td>
                <td><a href="{% url 'user_delete' i.pk %}">
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> {{ worker_05 }}</button>
                </a></td>
            </tr>
        {% endfor %}
    </table>


    <!-- Button trigger modal -->
    <a href="{% url 'user_new' %}" type="button" class="btn btn-primary m-1">{{ worker_08 }}</a>

{% endblock %}