{% extends 'base.html' %}
{% block content %}



    <br>

    <form class="container"
          style="width:100%; background:white; padding:25px; border-radius: 15px; box-shadow: 1px 2px 3px gray;">
        <input type="date" name="fir" id="fir" class="form-item m-2">dan-
        <input type="date" name="sec" id="sec" class="form-item m-2">gacha
        <button type="sumbit" class="btn btn-primary m-2"><i class="fa fa-filter"></i>Filter</button>
        <button type="sumbit" class="btn btn-danger m-2"><i class="fa fa-trash"></i>Buyurtmalarni tozalash</button>
    </form>
    <br>
    <table class="table table-hover">

        <tr>
            <td class="bg-primary text-white" style=" border-radius: 10px 0 0 0">№</td>
            <td class="bg-primary text-white">Xona</td>
            <td class="bg-primary text-white">Stol</td>
            <td class="bg-primary text-white">
                    <div class="dropdown">
                      <button class="btn btn-primary p-0 dropdown-toggle"
                              type="button" id="dropdownMenu1" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                        Xodim
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="#!">Bunyodbek Abdurazzaqov</a>
                        <a class="dropdown-item" href="#!">Nematov Durbek</a>
                      </div>
                    </div>
            </td>
            <td class="bg-primary text-white">Savdo</td>
            <td class="bg-primary text-white">Vaqt</td>
            <td class="bg-primary text-white">Tahlil</td>
            <td class="bg-primary text-white">Tahrir</td>
            <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">O`chirish</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Umumiy</td>
            <td>2</td>
            <td>Bunyodbek Abdurazzaqov</td>
            <td>154000</td>
            <td>20:55 02/04/2022</td>
            <td><a href="#">
                <button type="button" class="btn btn-info"><i class="fa fa-eye"></i>Tahlil</button>
            </a></td>
            <td><a href="#">
                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i>Tahrir</button>
            </a></td>
            <td><a href="#">
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>O`chirish</button>
            </a></td>
        </tr>

    </table>

    <script type="text/javascript">
        var year = new URL(location.href).searchParams.get('fir');
        document.getElementById("fir").value = year;
        var year = new URL(location.href).searchParams.get('sec');
        document.getElementById("sec").value = year;
    </script>


{% endblock %}