{% extends 'base.html' %}
{% block content %}

<table class="table table-hover mt-4" >

  <tr>
    <td class="bg-primary text-white text-center" style="border-radius: 10px 0 0 0">№</td>
    <td class="bg-primary text-white text-center" >Nomi</td>
    <td class="bg-primary text-white text-center" >Rasmi</td>
    <td class="bg-primary text-white text-center" >Chiqarilsin</td>
    <td class="bg-primary text-white text-center" >Printer</td>
    <td class="bg-primary text-white text-center" >Tahlil</td>
    <td class="bg-primary text-white text-center" >Tahrir</td>
    <td class="bg-primary text-white text-center" style=" border-radius: 0 10px 0 0;">O`chirish</td>
  </tr>
    
  <tr>
    <td class="text-center">1</td>
    <td >FastFoot</td>
    <td class="text-center"><img src="/static/img/hotdog.png" style="width: 50px;"></td>
    <td class="text-center"><i class="fa fa-check-circle" aria-hidden="true" style="font-size: 2em; color:green"></i></td>
    <td class="text-center">CanonL3035</td>
    <td class="text-center"><a href="#"><button type="button" class="btn btn-info"><i class="fa fa-eye"></i>Tahlil</button></a></td>
    <td class="text-center"><a href="#"><button type="button" class="btn btn-warning"><i class="fa fa-edit"></i>Tahrir</button></a></td>
    <td class="text-center"><a href="#"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>O`chirish</button></a></td>
  </tr>
  
</table>

  
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Qo`shish
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ro`yxatdan o`tkazish:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
      <div class="modal-body">
        

 
        {% csrf_token %}
        <table>
        
          <tr><td style="text-align: right;">Login:</td><td>{{ form.username }}</td></tr>
          <tr><td style="text-align: right;"><br>Ism Familiyasi:</td><td>{{ pro.name }}</td></tr>
          <tr><td style="text-align: right;"><br>Parol:</td><td>{{ form.password1 }}</td></tr>
          <tr><td style="text-align: right;"><br>Qayta parol:</td><td>{{ form.password2 }}</td></tr>


        
        </table>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
        
        <button type="sumbit" class="btn btn-primary">Jo`natish</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}