{% extends 'base.html' %}
{% block content %}
    <div style="position:absolute; right:0px; top: 0px">{{ user.full_name }}</div>
    <div class="row">

        <div class="col-lg-3  col-10 dcard btn btn-primary m-4" onclick="location.href='/product'">
            <div class="dcard-decimal">{{ dashboard_info.food_types }}</div>
            <i class="fa fa-cutlery"></i>
            <div class="dcard-about">Taom turlari</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-secondary m-4" style="background-color: #643279;"  onclick="tradingURL()">
            <div class="dcard-decimal"
                 style="font-size: 1.8em; line-height: 35px; vertical-align: bottom; padding: 0;">
            <div class="moneyed">{{ dashboard_info.trading }}</div>
            <div style="font-size:0.5em; line-height:20px; color: mediumseagreen"><i class="fa fa-money"></i><span class="moneyed"> {{ dashboard_info.cash_p }}</span></div>
            <div style="font-size:0.5em; line-height:20px; color: yellow"><i class="fa fa-credit-card"></i><span class="moneyed"> {{ dashboard_info.credit_card_p }}</span></div>
            <div style="font-size:0.5em; line-height:20px; color: tomato;"><i class="fa fa-ban mr-1"></i><span class="moneyed"> {{ dashboard_info.unpaid_p }}</span></div>

            </div>
            <canvas id="barChart" style="position:absolute; top:10px; right: -50px; max-width: 270px;"></canvas>
            <div class="dcard-about" style="position: absolute; bottom: 5px;">Savdo</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-success m-4"  onclick="location.href='/worker'">
            <div class="dcard-decimal">{{ dashboard_info.workers }}</div>
            <i class="fa fa-users"></i>
            <div class="dcard-about">Xodimlar</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-danger m-4"  onclick="location.href='/product#C'">
            <div class="dcard-decimal">{{ dashboard_info.categories }}</div>
            <i class="fa fa-list-alt"></i>
            <div class="dcard-about">Kategoriyalar</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-warning m-4"  onclick="location.href='/orders'">
            <div class="dcard-decimal">{{ dashboard_info.orders }}</div>
            <i class="fa fa-money"></i>
            <div class="dcard-about">Buyurtmalar</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-info m-4"  onclick="location.href='/rooms'">
            <div class="dcard-decimal">{{ dashboard_info.tables }}</div>
            <i class="fa fa-ban"></i>
            <div class="dcard-about">Stollar</div>
        </div>

    </div>
    <div class="row">
        <form class="col-lg-3 col-10 card shadow-sm ml-4 mr-4  pt-3">
            <div><input type="date" name="fir" id="fir" class="form-item m-2">dan</div>
            <div><input type="date" name="sec" id="sec" class="form-item m-2">gacha</div>
            <button type="sumbit" class="btn btn-primary m-2"><i class="fa fa-filter"></i> Filter</button>
            <a href="?fir=today&sec=today" type="button" class="btn btn-primary m-2">
                <i class="fa fa-filter"></i>
                Bugun
            </a>
            <a href="?fir=week&sec=week" type="button" class="btn btn-primary m-2">
                <i class="fa fa-filter"></i>
                Hafta
            </a>
            <a href="?fir=month&sec=month" type="button" class="btn btn-primary m-2">
                <i class="fa fa-filter"></i>
                Oy
            </a>
        </form>
        <canvas class="col-lg-7 col-11" id="myChart"></canvas>
        <script
                src="/static/js/Chart.js">
        </script>
        <script type="text/javascript">
            var year = new URL(location.href).searchParams.get('fir');
            document.getElementById("fir").value = year;
            var year = new URL(location.href).searchParams.get('sec');
            document.getElementById("sec").value = year;
        </script>
        <script>
            var xValues = {{ labels | safe }};
            var yValues = {{ data | safe}};

            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 0.3,
                        backgroundColor: "rgba(7,82,149,1.0)",
                        borderColor: "rgba(7,82,149,1.0)",
                        pointRadius: 3,
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                        yAxes: [{ticks: {min: {{ mn }}, max: {{ mx }}, fontSize: 10}}],
                        xAxes: [{
        ticks: {
          minor: {
             fontSize: 14
          }
        }
      }]
                    },
                    title:
                        {
                            display: true,
                            fontSize: 15,
                            text: {{ date_string | safe}},
                        }
                }
            });

        </script>
    </div>

    <script type="text/javascript">
        var canvas = document.getElementById("barChart");
        var ctx = canvas.getContext('2d');

        // Global Options:
        Chart.defaults.global.defaultFontColor = 'black';
        Chart.defaults.global.defaultFontSize = 16;

        var data = {
            labels: ["To'lanmagan", "Naqd pul", "Plastik karta"],
            datasets: [
                {
                    fill: true,
                    backgroundColor: [
                        'tomato',
                        'mediumseagreen',
                        'yellow'],
                    data: [{{ dashboard_info.unpaid_p}}, {{ dashboard_info.cash_p}}, {{ dashboard_info.credit_card_p}}],
// Notice the borderColor 
                    borderColor: ['white', 'white', 'white'],
                    borderWidth: [0.9, 0.9, 0.9]
                }
            ]
        };

        // Notice the rotation from the documentation.

        var options = {
            legend: {display: false},
            rotation: -0.7 * Math.PI
        };


        // Chart declaration:
        var myBarChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });

        // Fun Fact: I've lost exactly 3 of my favorite T-shirts and 2 hoodies this way :|

    </script>
    <script type="text/javascript">
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }
        var moneyeds = document.getElementsByClassName("moneyed");
        for (var i=0; i<moneyeds.length; i++){
            moneyeds[i].innerHTML = numberWithCommas(moneyeds[i].innerHTML);
        }

    </script>
{% endblock %}