{% extends 'base.html' %}
{% block content %}
    <div class="row">

        <div class="col-lg-3  col-10 dcard btn btn-primary m-4">
            <div class="dcard-decimal">12</div>
            <i class="fa fa-cutlery"></i>
            <div class="dcard-about">Taom turlari</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-secondary m-4">
            <div class="dcard-decimal" style="font-size: 2em; line-height: 70px; vertical-align: bottom;">935 000</div>
            <i class="fa fa-shopping-cart"></i>
            <div class="dcard-about" style="">Savdo</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-success m-4">
            <div class="dcard-decimal">6</div>
            <i class="fa fa-users"></i>
            <div class="dcard-about">Xodimlar</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-danger m-4">
            <div class="dcard-decimal">6</div>
            <i class="fa fa-list-alt"></i>
            <div class="dcard-about">Kategoriyalar</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-warning m-4">
            <div class="dcard-decimal">31</div>
            <i class="fa fa-money"></i>
            <div class="dcard-about">Buyurtmalar</div>
        </div>
        <div class="col-lg-3  col-10 dcard btn btn-info m-4">
            <div class="dcard-decimal">3/12</div>
            <i class="fa fa-ban"></i>
            <div class="dcard-about">Stollar</div>
        </div>

    </div>
{% endblock %}