{% extends 'base2.html' %}
{% block content %}

<div class="h1">STOLLAR</div>
<main style="overflow-y: auto; height:80%">

	<div class="container">
		<div class="row">
			<div class="col-11 col-md-5 cardcat card m-auto shadow text-white h1 bg-white row" style="margin-top: 15px!important;">
				<div class="col-2">
					<img src="">
				</div>
				<div>
					FastFoot
				</div>
			</div>

	</div>

</main>

<div class="menu">
	<a href="/table"><i class="fa fa-bars"></i></a>
	<a href="/sean"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-user" onclick="if (confirm('Chiqishga rozimisiz')){ document.location.href = '/logout'; }" ></i></a>

</div>

{% endblock %}