{% extends 'base2.html' %}
{% block content %}

<div  class="topmenu">
	<a class="btn btn-light text-danger p-1 ">
		<i class="fa fa-home" style="font-size:3em"></i>
	</a> 
	<a class="btn btn-light ml-3 topmenu-room">
		<div class="h2 text-primary topmenu-room-span" id="roomname" style="line-height:25px">UMUYMIY</div>
	</a> 
	<a class="btn btn-light  p-1 ml-3">
		<span class="h2 text-primary" style="height: 34px; display: inline-block; font-size: 1.7em;  margin-top: 6px;">№13</span>
	</a> 
</div>
<main style="overflow-y: auto; height:80%">

	<div class="container">
		<div class="row">

			<div class="col-11 col-md-5 cardcat card m-auto shadow text-white h1 bg-white row" style="margin-bottom: 15px!important;">
				<div class="col-3 p-0">
					<img src="/static/img/hotdog.png" style="width: 70px; height: 70px; margin-top:20px">
				</div>
				<div class="text-primary mt-4 col-10 h2 font-weight-bold text-left" style="line-height: 30px;">
					Ovqatlar
				</div>
			</div>
		</div>
	</div>

</main>

<div class="menu-food">
	<a href="/table" class="left"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
	
	<a href="#" style="float: right;"><span class="h4 font-weight-bold text-danger">120000so`m</span><i class="fa fa-check" aria-hidden="true"></i>	</a>

</div>
<script type="text/javascript">
	var vr = document.getElementById("roomname");
	console.log(vr.innerHTML.length);
	if (vr.innerHTML.length<=7){
		vr.style.lineHeight = "45px"
		vr.style.fontSize = "25px";
	}
	else{
	vr.style.fontSize = "25px";
		}
</script>
{% endblock %}