{% extends 'base.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="row mt-5">
            <div class="card col-11 col-sm-10 col-lg-6 m-auto p-3 shadow tableab">
                <div class="h2">Maxsulot:</div>
                {% csrf_token %}
                <table>
                    <tr>
                        <td style="text-align: right;">Nomi:</td>
                        <td>{{ form.title }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Kategoriya:</td>
                        <td>{{ form.category }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Rasm:</td>
                        <td>{{ form.image }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Narxi:</td>
                        <td>{{ form.price }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Mavjud:</td>
                        <td><label class="switch">
                            {{ form.is_available }}
                            <span class="slider"></span>
                        </label>
                        </td>
                    </tr>
                </table>
                <div class="mr-auto">
                    <a href="{% url 'product' %}" type="button" class="btn btn-danger m-1 mt-3"><i class="fa fa-times"
                                                                                                     aria-hidden="true"></i>
                        Yopish</a>
                    <button type="sumbit" class="btn btn-primary m-1 mt-3"><i class="fa fa-save"></i> Saqlash</button>

                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        document.getElementById("id_price").placeholder = "(so`m)";
        document.getElementById("id_price").style="text-align:right"
    </script>
    <script type="text/javascript">
        if (document.getElementsByTagName("label")[0].getAttribute("for")=='image-clear_id'){
            document.getElementsByTagName("label")[0].innerHTML = "O`chirish";
        }
    </script>
{% endblock %}