{% extends 'base.html' %}
{% block content %}
    <ul id="tabs" class="nav nav-tabs nav-tabs-style" role="tablist" style=" border: none;">
        <li class="nav-item ">
            <a id="tab-A" href="#pane-A" class="nav-link nav-link-style active border-0" data-toggle="tab" role="tab">TAOMLAR</a>
        </li>
        <li class="nav-item">
            <a id="tab-B" href="#pane-B" class="nav-link nav-link-style border-0" data-toggle="tab" role="tab">KATEGORIYALAR</a>
        </li>
    </ul>

    <div id="content" class="tab-content" role="tablist">

        <div id="pane-A" class=" border-top-0 tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div role="tab" id="heading-A">
                <table class="table table-hover m">

                    <tr>
                        <td class="bg-primary text-white">№</td>
                        <td class="bg-primary text-white">Nomi</td>
                        <td class="bg-primary text-white">Rasm</td>
                        <td class="bg-primary text-white text-center">Mavjud</td>
                        <td class="bg-primary text-white">Narx</td>
                        <td class="bg-primary text-white">
                            <div class="dropdown">
                                <button class="btn btn-primary p-0 dropdown-toggle"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Kategoriya
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {% for category in categories %}
                                        <a class="dropdown-item"
                                           href="?category={{ category.id }}">{{ category.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        <td class="bg-primary text-white">Tahrir</td>
                        <td class="bg-primary text-white">O`chirish</td>
                    </tr>
                    {% for food in foods %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ food.title }}</td>
                            <td><img src="{{ food.image.url }}" style="height: 50px;" alt="image"></td>
                            {% if food.is_available %}
                                <td class="text-center"><i class="fa fa-check-circle" aria-hidden="true"
                                                           style="font-size: 2em; color:green"></i></td>
                            {% else %}
                                <td class="text-center"><i class="fa fa-times-circle-o" aria-hidden="true"
                                                           style="font-size: 2em; color:red"></i></td>
                            {% endif %}
                            <td>{{ food.price }} so'm</td>
                            <td>{{ food.category.title }}</td>
                            <td><a href="{% url 'food_edit' pk=food.pk %}">
                                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i> Tahrir</button>
                            </a></td>
                            <td><a href="{% url 'food_delete' pk=food.pk %}">
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> O`chirish
                                </button>
                            </a></td>
                        </tr>
                    {% endfor %}

                </table>


                <!-- Button trigger modal -->
                <a href="{% url 'food_new' %}" type="button" class="btn btn-primary m-1">Qo'shish</a>
            </div>
        </div>


        <div id="pane-B" class=" border-top-0 tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
            <div role="tab" id="heading-B">

                <table class="table table-hover m">

                    <tr>
                        <td class="bg-primary text-white text-center">№</td>
                        <td class="bg-primary text-white ">Nomi</td>
                        <td class="bg-primary text-white text-center">Rasmi</td>
                        <td class="bg-primary text-white text-center">Faol</td>
                        <td class="bg-primary text-white text-center">Chop etish</td>
                        <td class="bg-primary text-white text-center">Printer</td>
                        <td class="bg-primary text-white text-center">Tahrir</td>
                        <td class="bg-primary text-white text-center">O`chirish</td>
                    </tr>

                    {% for i in categories %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ i.title }}</td>
                            <td class="text-center"><img src="{{ i.image.url }}" style="height: 50px;" alt="image"></td>
                            {% if i.is_available %}
                                <td class="text-center"><i class="fa fa-check-circle" aria-hidden="true"
                                                           style="font-size: 2em; color:green"></i></td>
                            {% else %}
                                <td class="text-center"><i class="fa fa-times-circle-o" aria-hidden="true"
                                                           style="font-size: 2em; color:red"></i></td>
                            {% endif %}
                            {% if i.printing_required %}
                                <td class="text-center"><i class="fa fa-check-circle" aria-hidden="true"
                                                           style="font-size: 2em; color:green"></i></td>
                            {% else %}
                                <td class="text-center"><i class="fa fa-times-circle-o" aria-hidden="true"
                                                           style="font-size: 2em; color:red"></i></td>
                            {% endif %}
                            <td class="text-center">{{ i.printer }}</td>
                            <td class="text-center"><a href="{% url 'category' pk=i.pk %}">
                                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i> Tahrir</button>
                            </a></td>
                            <td class="text-center"><a href="{% url 'category_delete' pk=i.pk %}">
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> O`chirish
                                </button>
                            </a></td>
                        </tr>
                    {% endfor %}

                </table>


                <!-- Button trigger modal -->
                <a href="{% url 'category_new' %}" type="button" class="btn btn-primary m-1">Qo'shish</a>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        if (window.location.href.slice(-2) === "#C") {
            document.getElementById("pane-A").setAttribute("class", " border-top-0 tab-pane fade");
            document.getElementById("pane-B").setAttribute("class", " border-top-0 tab-pane fade show active");
            document.getElementById("tab-B").setAttribute("class", " nav-link nav-link-style active border-0");
            document.getElementById("tab-A").setAttribute("class", " nav-link nav-link-style border-0");
        }
    </script>
{% endblock %}