{% extends 'base.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div class="row mt-4">
            <div class="card col-11 col-sm-10 col-lg-6 m-auto p-3 shadow">
                <div class="h4">Буюртма: #{{ order.id }} <span
                        class="float-left float-sm-right float-md-right text-danger">{{ order.table.room.title }}: №{{ order.table.number }}</span>
                </div>
                {% csrf_token %}
                <table class="table tableorder">
                    <tr class="bg-primary text-white">
                        <td>Номи</td>
                        <td>Сони</td>
                        <td>Умумий нархи</td>
                    </tr>
                    {% for orderitem in orderitems %}
                        <tr>
                            <td>{{ orderitem.meal.title }}</td>
                            <td>{{ orderitem.quantity }} та</td>
                            <td><span class="moneyed">{{ orderitem.abstract_amount }}</span> сўм</td>
                        </tr>
                    {% endfor %}
                    {% if order.table.tax_required %}
                        <tr class="font-weight-bold">
                            <td>Xizmat</td>
                            <td>{{ tax }}%</td>
                            <td><span class="moneyed">{{ order.tax_price }}</span> сўм</td>
                        </tr>
                    {% endif %}
                    <tr class="font-weight-bold">
                        <td>Хона хизмати</td>
                        <td>{{ order.passed_time_formatted }}</td>
                        <td><span class="moneyed">{{ order.room_service_cost }}</span> сўм</td>
                    </tr>
                    <tr class="text-danger font-weight-bold">
                        <td>Умумий</td>
                        <td>{{ order.orderitem_set.count }} та</td>
                        <td><span class="moneyed">{{ order.needed_payment }}</span> сўм</td>
                    </tr>
                </table>
                {{ form.comment }}
                <div class="input-group mt-3 button-payyed">
                    <div class="input-group-prepend" onclick="money_cash()">
                    <span class="input-group-text p-1 text-center">
                        <button type="button" class="btn btn-secondary cash_money" id="cash_money"
                                style="margin: auto; width:30px; height:30px; border-radius: 50%;"></button>
                    </span>
                    </div>
                    {{ form.cash_money }}
                    <div class="input-group-append" onclick="money_cash()">
                    <span class="input-group-text">
                        <i class="fa fa-money"></i>
                    </span>
                    </div>
                </div>
                <div class="input-group mt-1 button-payyed">
                    <div class="input-group-prepend" onclick="credit_card()">
                    <span class="input-group-text p-1 text-center">
                        <button type="button" class="btn btn-secondary credit_card" id="credit_card"
                                style="margin: auto; width:30px; height:30px; border-radius: 50%;"></button>
                    </span>
                    </div>
                    {{ form.credit_card }}
                    <div class="input-group-append" onclick="credit_card()">
                      <span class="input-group-text">
                          <i class="fa fa-credit-card"></i>
                      </span>
                    </div>
                </div>
                <div class="input-group mt-1 button-payyed">
                    <div class="input-group-prepend" onclick="debt()">
                    <span class="input-group-text p-1 text-center">
                        <button type="button" class="btn btn-secondary debt_money" id="debt_money"
                                style="margin: auto; width:30px; height:30px; border-radius: 50%;"></button>
                    </span>
                    </div>
                    {{ form.debt_money }}
                    <div class="input-group-append" onclick="debt()">
                      <span class="input-group-text">
                          <i class="fa fa-ban"></i>
                      </span>
                    </div>
                </div>


                <div class="mr-auto mb-3">
                    <a href="{% url 'orders' %}" type="button" class="btn btn-danger m-1 mt-3"><i class="fa fa-times"
                                                                                                  aria-hidden="true"></i>
                        Бекор қилиш</a>
                    <button type="sumbit" class="btn btn-primary m-1 mt-3" id="submitForm"><i
                            class="fa fa-check-circle"></i> Тасдиқлаш
                    </button>
                </div>
                <span class="bottomed-name">{{ order.waiter.full_name }}</span>
                <span class="bottomed">{{ order.created_time }}</span>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        var totalsumm = {{ order.needed_payment }};
        document.getElementById('id_comment').placeholder = "Изоҳ...";
        var payment_inputs = document.getElementsByTagName("input");
        var payment_buttons = document.getElementsByTagName("buttons");
        payment_inputs[1].placeholder = "Нақт пул";
        payment_inputs[2].placeholder = "Пластик карта";
        payment_inputs[3].placeholder = "Тўланмаган";

        payment_inputs[1].onkeyup = function () {
            back_function()
        };
        payment_inputs[2].onkeyup = function () {
            back_function()
        };
        payment_inputs[3].onkeyup = function () {
            back_function()
        };

        function back_function() {

            if (payment_inputs[1].value > 0) {
                document.getElementById('cash_money').className = "btn btn-primary";
            } else {
                document.getElementById('cash_money').className = "btn btn-secondary";
            }
            if (payment_inputs[2].value > 0) {
                document.getElementById('credit_card').className = "btn btn-primary";
            } else {
                document.getElementById('credit_card').className = "btn btn-secondary";
            }
            if (payment_inputs[3].value > 0) {
                document.getElementById('debt_money').className = "btn btn-primary";
            } else {
                document.getElementById('debt_money').className = "btn btn-secondary";
            }
            if (payment_inputs[1].value * 1 + payment_inputs[2].value * 1 + payment_inputs[3].value * 1 >= totalsumm) {
                document.getElementById("submitForm").disabled = false;
            } else {
                document.getElementById("submitForm").disabled = true;
            }

        }

        function money_cash() {
            if (payment_inputs[2].value * 1 + payment_inputs[3].value * 1 >= totalsumm) {
                if (payment_inputs[2].value * 1 == totalsumm || payment_inputs[3].value * 1 == totalsumm) {
                } else {
                    return;
                }
            }
            if (payment_inputs[2].value * 1 + payment_inputs[3].value * 1 == totalsumm) {
                payment_inputs[1].value = totalsumm;
                payment_inputs[2].value = "";
                payment_inputs[3].value = "";
            } else if (payment_inputs[2].value * 1 + payment_inputs[3].value * 1 > 0) {
                if (totalsumm - (payment_inputs[2].value * 1 + payment_inputs[3].value * 1) <= 0) {

                } else {
                    payment_inputs[1].value = totalsumm - (payment_inputs[2].value * 1 + payment_inputs[3].value * 1);
                }
            } else {
                payment_inputs[1].value = totalsumm;
            }
            back_function()
        }

        function credit_card() {
            if (payment_inputs[1].value * 1 + payment_inputs[3].value * 1 >= totalsumm) {
                if (payment_inputs[1].value * 1 == totalsumm || payment_inputs[3].value * 1 == totalsumm) {
                } else {
                    return;
                }
            }
            if (payment_inputs[1].value * 1 + payment_inputs[3].value * 1 == totalsumm) {
                payment_inputs[2].value = totalsumm;
                payment_inputs[1].value = "";
                payment_inputs[3].value = "";
            } else if (payment_inputs[1].value * 1 + payment_inputs[3].value * 1 > 0) {
                if (totalsumm - (payment_inputs[1].value * 1 + payment_inputs[3].value * 1) <= 0) {

                } else {
                    payment_inputs[2].value = totalsumm - (payment_inputs[1].value * 1 + payment_inputs[3].value * 1);
                }
            } else {
                payment_inputs[2].value = totalsumm;
            }
            back_function()
        }

        function debt() {
            if (payment_inputs[1].value * 1 + payment_inputs[2].value * 1 >= totalsumm) {
                if (payment_inputs[1].value * 1 == totalsumm || payment_inputs[2].value * 1 == totalsumm) {
                } else {
                    return;
                }
            }
            if (payment_inputs[1].value * 1 + payment_inputs[2].value * 1 == totalsumm) {
                payment_inputs[3].value = totalsumm;
                payment_inputs[1].value = "";
                payment_inputs[2].value = "";
            } else if (payment_inputs[1].value * 1 + payment_inputs[2].value * 1 > 0) {
                if (totalsumm - (payment_inputs[1].value * 1 + payment_inputs[2].value * 1) <= 0) {

                } else {
                    payment_inputs[3].value = totalsumm - (payment_inputs[1].value * 1 + payment_inputs[2].value * 1);
                }
            } else {
                payment_inputs[3].value = totalsumm;
            }
            back_function()
        }

        back_function();
    </script>
{% endblock %}