{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover mt-4">

        <tr>
            <td class="bg-primary text-white" style=" border-radius: 10px 0 0 0">№</td>
            <td class="bg-primary text-white">ИД</td>
            <td class="bg-primary text-white">Оффицант</td>
            <td class="bg-primary text-white">Олинган вақт</td>
            <td class="bg-primary text-white">Хона</td>
            <td class="bg-primary text-white">Стол</td>
            <td class="bg-primary text-white">Умумий сумма</td>
            <td class="bg-primary text-white">Таҳлил</td>
            <td class="bg-primary text-white" style=" border-radius: 0 10px 0 0;">Тасдиқлаш</td>
        </tr>

        {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>#{{ order.id }}</td>
                <td>{{ order.waiter.full_name }}</td>
                <td>{{ order.created_time }}</td>
                <td>{{ order.table.room.title }}</td>
                <td>{{ order.table.number }}</td>
                <td><span class="moneyed">{{ order.needed_payment }}</span> so'm</td>
                <td><a href="{% url 'order_view' pk=order.id %}">
                    <button type="button" class="btn btn-info"><i class="fa fa-eye"></i> Таҳлил</button>
                </a></td>
                <td><a href="{% url 'order_complete' pk=order.pk %}">
                    <button type="button" class="btn btn-warning"><i class="fa fa-credit-card"></i> Тугатиш
                    </button>
                </a></td>
        </tr>
        {% endfor %}

    </table>


{% endblock %}